<link rel="import" href="../polymer/polymer.html">

<polymer-element name="app-globals">
  <script>
    DocumentHolder = function () {}
    DocumentHolder.prototype = {
      getDoc: function () {
        return this.doc;
      },
      setDoc: function (doc) {
        this.doc = doc;
      }
    }
  </script>
  <script>
  (function (d) {

    var documentHolder = new d;

    Polymer({
      ready: function () {
        this.documentHolder = documentHolder;
        console.log('globals ready!');
      },

      setDoc: function (doc) {
        this.documentHolder.setDoc(doc);
      },

      getDoc: function () {
        return this.documentHolder.getDoc();
      },

      getModel: function () {
        return this.getDoc().getModel();
      }
      
    });

  })(DocumentHolder);
  </script>
</polymer-element>