<link rel="import" href="../polymer/polymer.html">

<polymer-element name="app-globals">
  <script>
    DocumentHolder = function () {
      this.isEditable = true;
    }
    DocumentHolder.prototype = {
      getDoc: function () {
        return this.doc;
      },
      setDoc: function (doc) {
        this.doc = doc;
      }
    }
  </script>
  <script>
  (function (d) {

    var documentHolder = new d;

    var config = {
      ready: function () {
        this.documentHolder = documentHolder;
        console.log('globals ready!');
      },

      setDoc: function (doc) {
        this.documentHolder.setDoc(doc);
      },

      getDoc: function () {
        return this.documentHolder.getDoc();
      },

      getModel: function () {
        return this.getDoc().getModel();
      },
    }

    Polymer(config);

  })(DocumentHolder);
  </script>
</polymer-element>