<link rel="import" href="../polymer/polymer.html">

<link rel="import" href="../core-icon/core-icon.html">
<link rel="import" href="../core-icon/core-icon.html">

<link rel="import" href="app-globals.html">

<polymer-element name="app-settings" attributes="fileId">
  <template>
      <style>

        :host {
          font-family: 'RobotoDraft', sans-serif;
          width: 100%;
        }

        #container {
          width: 100%;
          height: 25px;
          border-top: 1px solid #A3A3A3;
          border-bottom: 1px solid #A3A3A3;
          background-color: #DFDFDF;
          font-size: 13px;
          line-height: 25px;
        }

        #left {
          float: left;
          margin-left: 10px;
        }

        #right {
          float: right;
        }

        #close {
          transition: none;
          border-radius: 25px;
        }

        #close:hover {
          background-color: #e89892;
          color: white;
          transition: none;
        }

        core-icon {
          margin: 0px 2px;
        }

        #close {
          height: 16px !important;
          width: 16px !important;
          color: #666;
          margin-top: -3px;
        }

        #openInNew {
          height: 18px !important;
          width: 18px !important;
          color: #666;
          margin-top: -3px;
        }

        #openInNew:hover {
          color: #333;
        }

        input[type=checkbox] {
          vertical-align: middle;

        }

        .control {
          display: inline-block;
          margin: 0 10px;
        }

        label {
          padding: 0px 5px;
        }

      </style>
      <app-globals id="globals"></app-globals>
      <div id="container">
        <div id="left">
          Realtime Debug Console
        </div>
        <div id="right">
          <div class="control">
            <label for="edit">Enable Editing</label>
            <input id="edit" name="edit" type="checkbox" checked="{{ globals.documentHolder.isEditable }}"></input>
          </div>
          <core-icon hidden?="{{ isInFrame }}" id="openInNew" icon="open-in-new" on-click="{{ popOut }}"></core-icon>
          <core-icon id="close" icon="close" on-click="{{ close }}"></core-icon>
        </div>
      </div>
  </template>
  <script>
    Polymer({
      ready: function () {
        this.globals = this.$.globals;
        this.onDrag = this.onDrag.bind(this);
        this.$.container.addEventListener('drag', this.onDrag);
      },

      popOut: function () {
        var strWindowFeatures = "menubar=yes,location=yes,resizable=yes,scrollbars=yes,status=yes";
        window.open(self.location.href, 'realtime_debugger_window', strWindowFeatures);
        this.close();
      },

      close: function () {
        if(self == top){
          // We are not in an iframe, close the tab
          window.close();
        } else {
          // We are in an iframe, remove the iframe
          top.postMessage(this.fileId, '*');
        }
      },

      onDrag: function (evt) {
        if(evt.y = 0){
          return;
        }
        top.postMessage('realtime' + evt.y, '*');
      }
    });
  </script>
</polymer-element>