<link rel="import" href="../polymer/polymer.html">\

<polymer-element name="collaborator-display" attributes="collaborators">
  <template repeat="{{ collaborator in collaborators }}">
    <table>
      <tr>
        <td>color</td>
        <td>{{ collaborator.color }}</td>
      </tr>
      <tr>
        <td>displayName</td>
        <td>{{ collaborator.displayName }}</td>
      </tr>
      <tr>
        <td>isAnonymous</td>
        <td>{{ collaborator.isAnonymous }}</td>
      </tr>
      <tr>
        <td>isMe</td>
        <td>{{ collaborator.isMe }}</td>
      </tr>
      <tr>
        <td>permissionId</td>
        <td>{{ collaborator.permissionId }}</td>
      </tr>
      <tr>
        <td>photoUrl</td>
        <td>{{ collaborator.photoUrl }}</td>
      </tr>
      <tr>
        <td>sessionId</td>
        <td>{{ collaborator.sessionId }}</td>
      </tr>
      <tr>
        <td>userId</td>
        <td>{{ collaborator.userId }}</td>
      </tr>
    </table>
    <object-display object="{{ value }}"></object-display>
  </template>
  <content></content>
  <script>
    Polymer({
      ready: function () {
        
      },

      collaboratorsChanged: function () {
        console.log('collaborators changed');
      }
    });
  </script>
</polymer-element>