<link rel="import" href="../polymer/polymer.html">

<link rel="import" href="map.html">

<polymer-element name="collab-doc" attributes="doc">
  <template>
	    <collab-map id="mapEl"></collab-map>
  </template>
  <script>
    Polymer({
      ready: function () {
        console.log('Initializing Document');
      },

      docChanged: function () {
        console.log('doc has changed!');
        this.$.mapEl.value = this.doc.getModel().getRoot();
        this.doesDocExist = !!this.doc;
      }
    });
  </script>
</polymer-element>