<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-input/paper-input.html">

<link rel="import" href="string.html">
<link rel="import" href="list.html">

<polymer-element name="editable-cell" attributes="data">
  <template>
    <style>
      :host {
        padding-right: 5px;
      }

      input {
        border: none;
        cursor: pointer;
        height: 20px;
        border: 1px solid transparent;
        padding-left: 5px;
      }

      input:hover {
        border: 1px dashed black;
      }

      input.editing-true {
        cursor: text;
        padding-left: 2px;
        font-style: italic;
        border: 1px solid black;
      }
    </style>
    <input class="editing-{{ isEditable }}" id="editableInput" placeholder="empty" on-click="{{ onMouseClick }}" on-blur="{{ onBlur }}" type="text" value="{{ data.value }}"></input>
  </template>
  <script>
    Polymer({
      ready: function () {
        console.log('Initializing Editable Cell');
      },

      dataChanged: function () {
        console.log('data has changed');
        this.data.originalValue = this.data.value;
      },

      onMouseClick: function () {
        this.isEditable = true;
        var length = this.$.editableInput.value.length
        this.$.editableInput.setSelectionRange(0, length);
      },

      onBlur: function () {
        console.log('onBlur');
        this.isEditable = false;
        var value = this.$.editableInput.value;
        if(value === this.data.originalValue){
          return;
        }
        this.persist();
      },

      persist: function () {
        switch(this.data.type){
          case 'key':
            // key value for a map
            var value = this.data.map.get(this.data.originalValue);
            this.data.map.set(this.data.originalValue, null);
            this.data.map.set(this.data.value, value);
            break;
          case 'string':
            this.data.string.text = this.data.value;
            break;
          case 'json-map':
            this.data.parent.set(this.data.key, this.data.value);
            break;
          case 'json-list':
            this.data.parent.set(this.data.index, this.data.value);
            break;
        }
      }

    });
  </script>
</polymer-element>