<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="editable-cell.html">

<polymer-element name="index-reference" attributes="value">
  <template>
    <style>
      :host {
        display: block;
        position: relative;
        width: 100%;
      }

      #content {
        padding: 0px 0px 10px 30px;
      }

      .hidden {
        display: none;
      }

      #expandIcon {
        transition: all .2s;
      }

      #expandIcon.collapse {
        transition: all .2s;
        transform: rotate(-90deg)
      }

      table td:first-child {
        padding-right: 15px;
      }

      em {
        font-style: italic;
      }
    </style>
    <div class="meta-data">
      <core-icon id="expandIcon" class="collapse" icon="expand-more" on-click="{{ toggleExpand }}"></core-icon>
      <span id="type">Index Reference</span>
      <span id="id"></span>
    </div>
    <div id="content" class="hidden">
      <table>
        <tr>
          <td>index</td>
          <td>{{ value.index }}</td>
        </tr>
        <tr>
          <td>canBeDeleted</td>
          <td>{{ value.canBeDeleted }} - <em>Read Only</em></td>
        </tr>
        <tr>
          <td>referencedObject id</td>
          <td>{{ value.referencedObject.id }} - <em>Read Only</em></td>
        </tr>
      </table>
    </div>
  </template>
  <script>
    Polymer({
      ready: function () {
        console.log('Initializing String');
      },

      valueChanged: function () {
        this.$.editableCell.data = {
          value: this.value.text,
          string: this.value,
          type: 'string'
        }
        this.$.id.innerText = this.value.id;
      },

      toggleExpand: function () {
        this.$.expandIcon.classList.toggle('collapse');
        this.$.content.classList.toggle('hidden');
      },

    });
  </script>
</polymer-element>