<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="editable-cell.html">

<polymer-element name="index-reference" attributes="value">
  <template>
    <style>
      :host {
        display: block;
        position: relative;
        width: 100%;
      }

      #content {
        padding: 0px 0px 10px 30px;
      }

      .hidden {
        display: none;
      }

      #expandIcon {
        transition: all .2s;
      }

      #expandIcon.collapse {
        transition: all .2s;
        transform: rotate(-90deg)
      }
    </style>
    <div class="meta-data">
      <core-icon id="expandIcon" class="collapse" icon="expand-more" on-click="{{ toggleExpand }}"></core-icon>
      <span id="type">Index Reference</span>
      <span id="id"></span>
    </div>
    <div id="content" class="hidden">
      <editable-cell id="editableCell"></editable-cell>
    </div>
  </template>
  <script>
    Polymer({
      ready: function () {
        console.log('Initializing String');
      },

      valueChanged: function () {
        this.$.editableCell.data = {
          value: this.value.text,
          string: this.value,
          type: 'string'
        }
        this.$.id.innerText = this.value.id;
      },

      toggleExpand: function () {
        this.$.expandIcon.classList.toggle('collapse');
        this.$.content.classList.toggle('hidden');
      },

    });
  </script>
</polymer-element>