<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../core-drag-drop/core-drag-drop.html">

<link rel="import" href="string.html">
<link rel="import" href="map.html">
<link rel="import" href="json.html">
<link rel="import" href="list-item.html">

<polymer-element name="collab-list" attributes="value">
  <template>
    <style>
      .splitter {
        width: 100px;
        height: 0px;
        border: 1px dashed black;
      }

      div[draggable=true]:hover{
        cursor: -moz-grab;
        cursor: -webkit-grab;
        cursor: grab;
      }
    </style>
    <app-globals id="globals"></app-globals>
    <div class="metadata">
      <core-icon id="expandIcon" class="collapse" icon="expand-more" on-click="{{ toggleExpand }}"></core-icon>
      <span class="type color-primary">Collaborative List</span>
      <span class="color-tertiary">id="</span><span class="color-secondary">{{ value.id }}</span><span class="color-tertiary">"</span>
    </div>
    <div id="content" hidden?="{{ contentHidden }}">
      <div id="listItems"></div>
      <div id="add" hidden?="{{ !globals.documentHolder.isEditable }}">
        <core-icon class="add-item {{ isClosed }}" on-click="{{ toggleAdd }}" icon="add"></core-icon>
        <value-picker hidden?="{{ !isClosed }}" id="picker"></value-picker>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      ready: function () {
        this.globals = this.$.globals;
        this.$.picker.parent = this;
        this.valueChanged = this.valueChanged.bind(this);
        this.contentHidden = true;
        this.setBindings();
      },

      setBindings: function () {
        this.onDragStart = this.onDragStart.bind(this);
        this.onDragEnd = this.onDragEnd.bind(this);
        this.onDragOver = this.onDragOver.bind(this);
        this.onDragEnter = this.onDragEnter.bind(this);
      },

      valueChanged: function () {
        this.setListener();
        if(!this.isOpened){
          return;
        }

        if(this.$.listItems.childNodes.length){
          while (this.$.listItems.firstChild) {
              this.$.listItems.removeChild(this.$.listItems.firstChild);
          }
        }

        var arr = this.value.asArray();
        for(var i = 0; i < arr.length; i++){
          var item = document.createElement('list-item');
          item.index = i;
          item.value = arr[i];
          item.parent = this;
          item.ondragstart = this.onDragStart;
          item.ondragend = this.onDragEnd;
          item.ondragenter = this.onDragEnter;
          item.ondragover = this.onDragOver;
          this.$.listItems.appendChild(item);
        }
      },

      setListener: function () {
        if(!this.listenerSet){
          this.value.addEventListener(gapi.drive.realtime.EventType.VALUES_ADDED, this.valueChanged);
          this.value.addEventListener(gapi.drive.realtime.EventType.VALUES_REMOVED, this.valueChanged);
          this.value.addEventListener(gapi.drive.realtime.EventType.VALUES_SET, this.valueChanged);
          this.listenerSet = true;
        }
      },

      toggleExpand: function () {
        if(!this.isOpened){
          this.isOpened = true;
          this.valueChanged();
        }
        this.$.expandIcon.classList.toggle('collapse');
        this.contentHidden = !this.contentHidden;
        this.isClosed = '';
      },

      add: function (el) {
        this.value.push(el.value);
        this.isClosed = '';
        this.valueChanged();
      },

      set: function (data) {
        this.value.set(data.index, data.value);
      },

      remove: function (index) {
        this.value.remove(index);
      },

      toggleAdd: function () {
        if(!this.isClosed){
          this.isClosed = 'close';
        } else {
          this.isClosed = '';
        }
      },


      // Dragging Operations
      onDragStart: function (evt) {
        event.dataTransfer.effectAllowed = 'copy';
      },

      onDragEnd: function (evt) {
        this.move(evt);
      },

      onDragOver: function (evt) {
        if(evt.target.value){
          this.insertSeparator(evt);
        }
      },

      onDragEnter: function (evt) {
        if(evt.target.value){
          this.insertSeparator(evt);
        }
      },

      insertSeparator: function (evt) {
        var middle = evt.currentTarget.clientHeight / 2;
        if(evt.offsetY > middle - 5){
          // insert separator below
          evt.currentTarget.parentNode.insertBefore(this.getSeparator(), evt.currentTarget.nextSibling);

        } else {
          // insert separator above
          evt.currentTarget.parentNode.insertBefore(this.getSeparator(), evt.currentTarget);
        }
      },

      move: function (evt) {
        var startIndex = parseInt(evt.target.shadowRoot.querySelector('#item').getAttribute('index'));
        var beforeSeparatorIndex = parseInt(this.separator.previousSibling ? this.separator.previousSibling.shadowRoot.querySelector('#item').getAttribute('index') : 0);
        var afterSeparatorIndex = parseInt(this.separator.nextSibling ? this.separator.nextSibling.shadowRoot.querySelector('#item').getAttribute('index') : beforeSeparatorIndex + 1);
        this.value.move(startIndex, afterSeparatorIndex);
        this.separator = null;
      },

      getSeparator: function () {
        if(!this.separator){
          this.separator = document.createElement('div');
          this.separator.classList.add('splitter');
        }
        return this.separator;
      },

    });
  </script>
</polymer-element>