<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../core-icons/image-icons.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../core-icon-button/core-icon-button.html">

<link rel="import" href="string.html">
<link rel="import" href="list.html">
<link rel="import" href="value-picker.html">
<link rel="import" href="json.html">
<link rel="import" href="index-reference.html">

<polymer-element name="collab-map" attributes="value">
  <template>
    <style>
      :host {
        display: block;
        position: relative;
        width: 100%;
        padding: 0px;
      }
      :host > collab-map,
      :host > collab-list,
      :host > collab-string {
        padding: 20px;
      }

      #content {
        padding: 0px 0px 10px 30px;
      }

      .key {
        width: 150px;
      }

      .key, .value {
        display: inline-block;
        vertical-align: top;
      }

      #id {
        font-style: italic;
      }

      #expandIcon {
        transition: all .2s;
        cursor: pointer;
      }

      #expandIcon.collapse {
        transition: all .2s;
        transform: rotate(-90deg)
      }

      .hidden {
        display: none;
      }

      value-picker, paper-input {
        display: inline-block;
      }

      .add-item {
        transition: all .3s;
        vertical-align: top;
      }

      .add-item.close {
        transition: all .3s;
        transform: rotate(45deg);
      }

      .remove {
        float: left;
      }

      .item-container {
        padding: 3px;
      }

    </style>
    <div>
    </div>
    <div class="meta-data">
      <core-icon id="expandIcon" class="collapse" icon="expand-more" on-click="{{ toggleExpand }}"></core-icon>
      <span id="type">Collaborative Map</span>
      <span id="id"></span>
    </div>
    <div id="content" class="hidden">
      <div id="mapItems"></div>
      <div id="add">
        <core-icon class="add-item {{ isClosed }}" on-click="{{ toggleAdd }}" icon="add"></core-icon>
        <div class="key" hidden?="{{ !isClosed }}">
          <paper-input label="new key" id="newKey" value="{{ newKeyValue }}"></paper-input>
        </div>
        <value-picker hidden?="{{ !newKeyValue || !isClosed }}" id="picker"></value-picker>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      ready: function () {
        console.log('Initializing Map');
        this.$.picker.parent = this;
        this.valueChanged = this.valueChanged.bind(this);
      },

      valueChanged: function () {
        this.setListener();
        if(this.$.mapItems.childNodes.length){
          while (this.$.mapItems.firstChild) {
              this.$.mapItems.removeChild(this.$.mapItems.firstChild);
          }
        }
        
        this.$.id.innerText = this.value.id;
        var keys = this.value.keys();
        for(var i = 0; i < keys.length; i++){
          if(this.value.get(keys[i]).keys){
            type = 'collab-map';
          } else if (this.value.get(keys[i]).getText){
            type = 'collab-string';
          } else if (this.value.get(keys[i]).push){
            type = 'collab-list';
          } else if (this.value.get(keys[i]).referencedObject) {
            type = 'index-reference';
            console.log('new index reference!');
          }else {
            type = 'json-value';
          }
          this.createKeyValue(keys[i], this.value.get(keys[i]), type)
        }
      },

      createKeyValue: function (key, value, type) {
        var el = document.createElement(type);
        var that = this;
        var containerEl = document.createElement('div');
        containerEl.classList.add('item-container');
        var keyEl = document.createElement('editable-cell');
        keyEl.classList.add('key');
        keyEl.data = {
          type: 'key',
          value: key,
          map: this.value
        }
        var valueEl = document.createElement('div');
        valueEl.classList.add('value');

        var removeEl = document.createElement('core-icon');
        removeEl.setAttribute('icon', 'delete');
        removeEl.classList.add('remove');
        removeEl.onclick = function () {
          that.remove(key, containerEl)
        }

        containerEl.appendChild(removeEl);
        containerEl.appendChild(keyEl);
        containerEl.appendChild(valueEl);

        valueEl.appendChild(el);

        el.parent = this.value;
        if(type === 'json-value'){
          el.key = key;
        }
        el.value = value;

        this.$.mapItems.appendChild(containerEl);
      },

      remove: function (key, el) {
        this.value.set(key, null);
        el.parentNode.removeChild(el);
      },

      setListener: function () {
        if(!this.listenerSet){
          this.value.addEventListener(gapi.drive.realtime.EventType.VALUE_CHANGED, this.valueChanged);
          this.listenerSet = true;
        }
      },

      toggleExpand: function () {
        this.$.expandIcon.classList.toggle('collapse');
        this.$.content.classList.toggle('hidden');
        this.isClosed = '';
      },

      add: function (el) {
        if(!this.$.newKey.value){
          alert('You must supply a key before selecting a new object');
          return;
        }
        this.value.set(this.$.newKey.value, el.value);
        this.$.newKey.value = '';
        this.isClosed = '';
        this.valueChanged();
      },

      toggleAdd: function () {
        if(!this.isClosed){
          this.isClosed = 'close';
        } else {
          this.isClosed = '';
        }
      }

    });
  </script>
</polymer-element>