<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../core-icons/image-icons.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../core-icon-button/core-icon-button.html">

<link rel="import" href="string.html">
<link rel="import" href="list.html">
<link rel="import" href="value-picker.html">

<polymer-element name="collab-map" attributes="value">
  <template>
    <style>
      :host {
        display: block;
        position: relative;
        width: 100%;
        padding: 0px;
      }
      :host > collab-map,
      :host > collab-list,
      :host > collab-string {
        padding: 20px;
      }

      .key {
        width: 150px;
      }

      .value {

      }

      .key, .value {
        display: inline-block;
        vertical-align: top;
      }

      #id {
        font-style: italic;
      }

      #expandIcon {
        transition: all .2s;
      }

      #expandIcon.collapse {
        transition: all .2s;
        transform: rotate(-90deg)
      }

      .hidden {
        display: none;
      }

    </style>
    <div>
    </div>
    <div class="meta-data">
      <core-icon id="expandIcon" class="collapse" icon="expand-more" on-click="{{ toggleExpand }}"></core-icon>
      <span id="type">Collaborative Map</span>
      <span id="id"></span>
    </div>
    <div id="content" class="hidden"></div>
    <div id="add">
      <div class="key">
        <paper-input id="newKey"></paper-input>
      </div>
      <value-picker id="picker"></value-picker>
    </div>
  </template>
  <script>
    Polymer({
      ready: function () {
        console.log('Initializing Map');
        this.$.picker.parent = this;
      },

      mapChanged: function () {
        // this.empty();
        this.$.id.innerText = this.value.id;
        var keys = this.value.keys();
        for(var i = 0; i < keys.length; i++){
          if(this.value.get(keys[i]).keys){
            type = 'collab-map';
          } else if (this.value.get(keys[i]).getText){
            type = 'collab-string';
          } else if (this.value.get(keys[i]).push){
            type = 'collab-list';
          } else {
            type = 'json-value';
          }
          this.createKeyValue(keys[i], this.value.get(keys[i]), type)
        }

        if(!keys.length){
          this.$.content.appendChild(this.createKeyValue('Empty', document.createElement('div')));
        }
      },

      createKeyValue: function (key, value, type) {
        var el = document.createElement(type);
        var that = this;
        var containerEl = document.createElement('div');
        var keyEl = document.createElement('editable-cell');
        keyEl.classList.add('key');
        keyEl.data = {
          type: 'key',
          value: key,
          map: this.value
        }
        var valueEl = document.createElement('div');
        valueEl.classList.add('value');

        var removeEl = document.createElement('core-icon');
        removeEl.setAttribute('icon', 'lock-open');
        removeEl.onclick = function () {
          that.remove(key, containerEl)
        }

        containerEl.appendChild(keyEl);
        containerEl.appendChild(valueEl);
        containerEl.appendChild(removeEl);

        valueEl.appendChild(el);
        return containerEl;
      },

      remove: function (key, el) {
        this.value.set(key, null);
        el.parentNode.removeChild(el);
      },

      toggleExpand: function () {
        this.$.expandIcon.classList.toggle('collapse');
        this.$.content.classList.toggle('hidden');
      },

      add: function (el) {
        if(!this.$.newKey.value){
          alert('You must supply a key before selecting a new object');
          return;
        }
        this.value.set(this.$.newKey.value, el.value)
      }
    });
  </script>
</polymer-element>