<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="editable-cell.html">

<polymer-element name="collab-string" attributes="value">
  <template>
    <div class="metadata">
      <core-icon id="expandIcon" class="collapse" icon="expand-more" on-click="{{ toggleExpand }}"></core-icon>
      <span class="type color-primary">Collaborative String</span>
      <span class="color-tertiary">id="</span><span class="id color-secondary"></span><span class="color-tertiary">"</span>
    </div>
    <div id="content" hidden?="{{ contentHidden }}">
      <editable-cell id="editableCell"></editable-cell>
    </div>
  </template>
  <script>
    Polymer({
      ready: function () {
        this.contentHidden = true;
      },

      valueChanged: function () {
        this.$.editableCell.data = {
          value: this.value.text,
          string: this.value,
          type: 'string',
          parent: this
        }
        this.shadowRoot.querySelector('.id').innerText = this.value.id;
      },

      toggleExpand: function () {
        this.$.expandIcon.classList.toggle('collapse');
        this.contentHidden = !this.contentHidden;
      },

      set: function (data) {
        this.value.setText(data.value);
      }

    });
  </script>
</polymer-element>