<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-shadow/paper-shadow.html">
<link rel="import" href="../paper-item/paper-item.html">

<link rel="import" href="string.html">
<link rel="import" href="list.html">
<link rel="import" href="value-picker.html">
<link rel="import" href="app-globals.html">

<polymer-element name="value-picker" attributes="parent">
  <template>
    <style>
      paper-shadow {
        width: 200px;
      }
    </style>
    <app-globals id="globals"></app-globals>
    <paper-shadow>
        <paper-item on-click="{{ onMapClick }}">Collaborative Map</paper-item>
        <paper-item on-click="{{ onListClick }}">Collaborative List</paper-item>
        <paper-item on-click="{{ onStringClick }}">Collaborative String</paper-item>
        <paper-item on-click="{{ onJsonValueClick }}">JSON Value</paper-item>
    </paper-shadow>
    <div id="creations"></div>
  </template>
  <script>
    Polymer({

      onMapClick: function () {
        this.create('collaborative-map', this.$.globals.doc.getModel().createMap());
      },

      onListClick: function () {
        this.create('collaborative-list', this.$.globals.doc.getModel().createString());
      },

      onStringClick: function () {
        this.create('collaborative-string', this.$.globals.doc.getModel().createString());
      },

      onJsonValueClick: function () {
        this.create('json-value','');
      },

      create: function (type, value) {
        var el = document.createElement(type);
        el.value = value;
        this.parent.add(el);
      }

    });
  </script>
</polymer-element>